*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.Flex{
    display: flex;
}



.Conteiner-principale-header{
    width: 100vw;
    height: 70vh;
    background-color: rgb(76, 0, 255);
}

/* ----- menu ---- */

.Conteiner-menù{
    width: 70vw;
    height: 10vh;
    margin: auto;
}

.Logo{
    flex-basis: 230px;
    background-color: #1e3983;
}

.Menù{
    flex-grow: 1;
    background-color: #3161e0;
    justify-content: center;
    align-items: center;
}


.Menù a{
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



.Bottone{
    flex-basis: 230px;
    background-color: #1e3983;
    display: flex;
    justify-content: center;
    align-items: no-stretch;
}

.Bottone input{
    padding: 10px 20px;
    align-self: center;
    border-radius: 25px;
    border: none;
}
/* ----- menu END ---- */

/* -----Conteiner centrale---- */


.Conteiner-centrale{
    width: 75vh;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.308);
    margin-top: 100px;
}


.Conteiner-centrale h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
}


.Conteiner-centrale p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.22rem;
    text-align: center;
    margin-top: 60px;
}

/* ----Bottoni centrali--- */

.Bottoni-header-centrale{
    width: 30vw;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0.527);
}

.Bottoni-header-centrale input{
    padding: 15px 60px;
    border-radius: 30px;
    border: none;

    font-size: 0.95rem;
}

.Bottoni-header-centrale input:last-child{
    background-color: black;
    color: white;
}



/* -----Conteiner centrale END---- */



/* ----Box---- */


.Reverse{
    flex-direction: row-reverse;
}

.Conteiner-box{
    width: 100vw;
    height: 60vh;
    background-color: aquamarine;
    
    display: flex;
    border: 1px solid black;
}


/* ----Container SX e DX---- */



.SX{
    flex-grow: 1;  
    background-color: #3161e0;
}

.DX{
    flex-basis: 600px;
    background-color: #00217a;
    color: white;
    text-align: left;
    display: flex;
}



/* ----Container SX e DX  END---- */

.DX-margin-content{
    width: 55%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* ---Box info--- */

.DX h1{
    margin-bottom: 70px;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.DX p{
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* ---Box info END--- */



/* ----Box END---- */



/* ---------------------BOX FINALE GRANDE--------- */
.Conteiner-box-grande{
    width: 100vw;
    height: 90vh;
    background-color: rgb(241, 156, 44);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* -----h1 e p ----- */
.Scritta-container-grande{
    flex-basis: 9vw;
    background-color: red;
    display: flex;

}

.content-scritta-container-grande{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 65%;
    margin: auto;
    background-color: rgb(160, 22, 91);
}

.content-scritta-container-grande h1{
    margin-bottom: 30px;
    font-size: 3.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.content-scritta-container-grande p{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}





.img-container-grande{
    flex-grow: 1;
    background-color: aquamarine;
}

.paragrafo-container-grande{
    flex-basis: 2vw;
    background-color: red;
}

.Bottone-sotto-paragrafo{
    width: 8vw;
    height: 4vh;
    background-color: #ff0080;
    margin: auto;
}


.content-h3-container-grande{
    width: 20vw;
    background-color: rgba(255, 255, 0, 0.534);
    margin: auto;
    text-align: center;

    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.Bottone-sotto-paragrafo input{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #3161e0;
    border: none;
    font-family: 'Roboto', sans-serif;
}



/* ---------------------BOX FINALE GRANDE END--------- */


footer{
    width: 100vw;
    height: 50vh;
    margin-top: 8%;
    background-color: #00103d;
    
}


.Conteiner-elementi-footer{
    width: 60vw;
    height: 75%;
    /* background-color: rgba(255, 0, 0, 0.507); */
    display: flex;
    margin: 55px auto;
    border-bottom: 3px solid rgba(0, 35, 189, 0.664);

    justify-content: space-between;
}

.Elemento-grande{
    flex-basis: 350px;
    /* background-color: aquamarine; */
    gap: 25px;
    flex-direction: column;
    display: flex;
}


.Elemento-grande h1{
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    color: #3161e0;
    font-weight: 600;
}



.elementi-piccoli{
    flex-basis: 150px;
    /* background-color: violet; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.elementi-piccoli h4{
    font-weight: 400;
}

.elementi-piccoli h4:first-child{
    color: #3161e0;
    font-weight: 600;
}