*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.Flex{
    display: flex;
}


.Conteiner-menù{
    width: 70vw;
    height: 10vh;
    background-color: blue;
    
    margin: auto;
}

.Logo{
    flex-basis: 230px;
    background-color: red;
}

.Menù{
    flex-grow: 1;
    background-color: rgb(200, 255, 0);
    justify-content: center;
}


.Menù a{
    color: black;
    padding: 0px 15px;
}



.Bottone{
    flex-basis: 230px;
    background-color: rgb(0, 255, 21);
}