*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.Flex{
    display: flex;
}


.Conteiner-menù{
    width: 70vw;
    height: 10vh;
    background-color: #red;
    
    margin: auto;
}

.Logo{
    flex-basis: 230px;
    background-color: #1e3983;
}

.Menù{
    flex-grow: 1;
    background-color: #3161e0;
    justify-content: center;
    align-items: center;
}


.Menù a{
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



.Bottone{
    flex-basis: 230px;
    background-color: #1e3983;
}