*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.Flex{
    display: flex;
}



.Conteiner-principale-header{
    width: 100vw;
    height: 70vh;
    background-color: rgb(76, 0, 255);
}

/* ----- menu ---- */

.Conteiner-menù{
    width: 70vw;
    height: 10vh;
    /* background-color:; */
    margin: auto;
}

.Logo{
    flex-basis: 230px;
    background-color: #1e3983;
}

.Menù{
    flex-grow: 1;
    background-color: #3161e0;
    justify-content: center;
    align-items: center;
}


.Menù a{
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



.Bottone{
    flex-basis: 230px;
    background-color: #1e3983;
    display: flex;
    justify-content: center;
    align-items: no-stretch;
}

.Bottone input{
    padding: 10px 20px;
    align-self: center;
    border-radius: 25px;
    border: none;
}
/* ----- menu END ---- */

/* -----Conteiner centrale---- */


.Conteiner-centrale{
    width: 75vh;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.308);
    margin-top: 100px;
}


.Conteiner-centrale h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
}


.Conteiner-centrale p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.22rem;
    text-align: center;
    margin-top: 60px;
}

/* ----Bottoni centrali--- */

.Bottoni-header-centrale{
    width: 30vw;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0.527);
}

.Bottoni-header-centrale input{
    padding: 15px 60px;
    border-radius: 30px;
    border: none;

    font-size: 0.95rem;
}

.Bottoni-header-centrale input:last-child{
    background-color: black;
    color: white;
}



/* -----Conteiner centrale END---- */


.Reverse{
    flex-direction: row-reverse;
}

.Conteiner-box{
    width: 100vw;
    height: 70vh;
    background-color: aquamarine;
    
    display: flex;
    border: 1px solid black;
}

.SX{
    flex-grow: 1;  
    background-color: #3161e0;
}

.DX{
    flex-basis: 600px;
    background-color: #00217a;
    color: white;
    text-align: left;
    display: flex;
}


.DX-margin-content{
    width: 55%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.445);
    
}

.DX h1{
    margin-bottom: 70px;
}





































.Conteiner-box-grande{
    width: 100vw;
    height: 90vh;
    background-color: rgb(241, 156, 44);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}


.Scritta-container-grande{
    flex-basis: 12vw;
    background-color: red;
}

.img-container-grande{
    flex-grow: 1;
    background-color: aquamarine;
}

.paragrafo-container-grande{
    flex-basis: 5vw;
    background-color: red;
}

.Bottone-sotto-paragrafo{
    width: 10vw;
    height: 5vh;
    background-color: #3161e0;
    margin: auto;
}